# Configuration du serveur FiveM - Osnium FA

## Paramètres de base
set mysql_connection_string "server=localhost;database=fivem;userid=root;password="
endpoint_add_tcp "0.0.0.0:30113"
endpoint_add_udp "0.0.0.0:30113"

## Informations du serveur
sv_hostname "osnium FA"
sv_maxclients 48
sv_endpointprivacy false
set sv_forceIndirectListing true
set sv_listingIPOverride ""
 
## Sécurité et confidentialité
sv_authMaxVps 1
sv_scriptHookAllowed false
sv_allowCheatCommands false
sv_disableNetGame false

## Clé de licence (à remplacer avec votre clé cfx.re)
sv_licensekey "" # Mettre votre clé cfx.re ici
sv_enforceGameBuild 3751 #mp2025_01	- Money Fronts
set steam_webApiKey "none"
set resources_useSystemChat true

setr serverName "osnium FA" 
setr serverColor "~b~" 
setr jsColor "^5" 
setr bannerUrl ""
setr serverCHAR "https://cdn.discordapp.com/attachments/1495831116337119453/1523536218103480462/Logo_Base_Nova_Violet.png?ex=6a4c772c&is=6a4b25ac&hm=3a75c62a76da430ebfdf024f8b528c88c6a64ee55c59fd23d314c0c865ce397a&"
setr discordAPI "000000000000"
setr boutiqueLink "osnium FA"
setr serverDiscord "osnium FA"
setr serverDiscord2 "osnium FA"
setr r "0" 
setr g "64" 
setr b "255"
setr hexcolor "#000FFF"
setr ox:primaryColor "blue"
setr ox:primaryShade 8 
setr FivemHudIndex "22"
setr type "FA" 
setr WL_MDP "AUCUN"
setr Owner-IDUnique "1"
setr ownerDiscord "1438886799790571662"
setr ownerSteam "11000012e32bbe0"

## Add system admins & Owner permissions
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_ace group.admin VolShield.bypass allow
add_ace group.fondateur command allow
add_principal group.fondateur group.admin
add_principal group.superadmin group.admin

# Owner Identifiers (Discord & Steam)
add_principal identifier.discord:1438886799790571662 group.admin
add_principal identifier.discord:1438886799790571662 group.fondateur
add_principal identifier.steam:11000012e32bbe0 group.admin
add_principal identifier.steam:11000012e32bbe0 group.fondateur

# Resources ACE
add_ace resource.voltre-loader command allow
add_ace resource.voltre-core command allow
add_ace resource.voltre-cache command allow

# Besoins pour les ressources.
setr sv_showBusySpinnerOnLoadingScreen false
start [cfx]
start [dependance]
start voltre-loader